*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 100%;
    margin: auto;
}

.main-nav
{
    list-style: none;
    margin-top: 30px;
    margin-left: 50%;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 100%;
    margin-left: 10%;
    margin-top: 10%;

    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-top: 275px;
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(bannerbg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.buttonNAV
{
    margin-top: 30px;
    margin-left: 440px;
    padding-left: 50px;
}

.btn
{
    border: 1px solid darkorange;
    padding: 10px 30px;
    color: darkorange;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}
#watchBTN
{
    background-color: darkorange;
    font-family: "Roboto", sans-serif;
}

#exploreBTN
{
    font-family: "Roboto", sans-serif;
}


#exploreBTN:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: -35px;
    margin-left: 20px;
}

#modal{
    margin-left: 55%;
    margin-top: 20%;
}







